<div >
    <MatDialogTitle>Change password</MatDialogTitle>
    <MatDialogContent>
        <EditForm id="changePasswordForm" Model="@changePasswordViewModel" OnValidSubmit="@ResetUserPasswordAsync">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <fieldset>
                <div class="form-group">
                    <MatTextField @bind-Value="@changePasswordViewModel.Password" Label="Password" Icon="lock_outline" IconTrailing="true" FullWidth="true" Required="true" Type="password" tabindex="1"></MatTextField>
                </div>
                <div class="form-group">
                    <MatTextField @bind-Value="@changePasswordViewModel.PasswordConfirm" Label="Password Confirmation" Icon="lock_outline" IconTrailing="true" FullWidth="true" Required="true" Type="password"></MatTextField>
                </div>
            </fieldset>
        </EditForm>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@CancelChange">Cancel</MatButton>
        <MatButton Type="submit" form="changePasswordForm">Reset Password</MatButton>
    </MatDialogActions>
</div>