@page "/UserRoleGroup/Edit/{Id:int}"
@page "/UserRoleGroup/add"

<EditForm EditContext="@editContext">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mat-layout-grid mat-layout-grid-align-left" style="max-width: 800px;">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                <label class="label">User  ID</label>
            </div>
            <div class="mat-layout-grid-cell">
                <MatSelectValue Value="@userRoleDto.UserId"
                                ValueExpression="@(() => userRoleDto.UserId )"
                                ValueChanged="((string userId)=>ChangeUser(userId) )"
                                Items="@UserIds" ValueSelector="@(v => v.ToString())" Class="selectdiv">
                    <ItemTemplate Context="itemcon">
                        @itemcon
                    </ItemTemplate>
                </MatSelectValue>
            </div>
        </div>

        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                <label class="label">Role  ID</label>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-5">
                <MatSelectValue Value="@userRoleDto?.RoleId"
                                ValueExpression="@(() => userRoleDto.RoleId )"
                                ValueChanged="((string roleId)=>ChangeRole(roleId) )"
                                Items="@userSelectRoleDtos" ValueSelector="@(v => v?.RoleId.ToString())" Class="selectdiv">
                    <ItemTemplate Context="itemcon">
                        @itemcon.RoleId
                    </ItemTemplate>
                </MatSelectValue>
            </div>

            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                <p><MatTextField @bind-Value="userRoleDto.RoleName" Disabled=true></MatTextField></p>
            </div>
        </div>

        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                <label class="label">Group</label>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                <MatChipSet>
                    @foreach (var group in groupList)
                    {
                        <MatChip Label="@group.DisplayValue" LeadingIcon="@((group.Selected) ? "done" : "")" @onclick="@(()=>UpdateGroup(group))" />
                    }
                </MatChipSet>
            </div>
        </div>
    </div>
</EditForm>

<div class="mat-layout-grid mat-layout-grid-align-middle" style="max-width: 800px;">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell">
            <MatButton Raised="true" OnClick="@(_ => SaveData())">Save</MatButton>
            <MatButton Outlined="true" OnClick="@(()=>navigationManager.NavigateTo("UserRoleGroup/Index"))">Back</MatButton>
        </div>
    </div>
</div>