@page "/newsDetail"
@inject NavigationManager NavManager
@using CADPLIS.WebSite.Components
@using CADPLIS.WebSite.Components.FrontEnd
@using CADPLIS.WebSite.Components.LandingPage
@using CADPLIS.WebSite.Extension

<section id="latestNewsDetailsSection">
    <!-- Banner Image -->
    <BSRow id="bannerImage">
        &nbsp;
    </BSRow>
    <!-- Breadcrumbs Home / News -->
    <BSBreadcrumb Class="m-5 bg-none">
        <BSBreadcrumbItem>Home</BSBreadcrumbItem>
        <BSBreadcrumbItem>News</BSBreadcrumbItem>
        <BSBreadcrumbItem IsActive="true" Class="currentPage text-de">Details</BSBreadcrumbItem>
    </BSBreadcrumb>
    <!-- Main Content Row -->
    <BSRow Class="w-100 p-4">
        <!-- News List Col -->
        <BSCol id="informationListCol" Class="col-12 col-lg-4 col-xl-4 mr-4">
            <div class="border rounded h-100 bg-white">
                @foreach (Tuple<int, int?, String> information in GetRootMenuList())
                {
                    <InformationListItem OnClick="() => SetNewsDetailId(information.Item1, information.Item2)" Id="@information.Item1" ParentId="@information.Item2" Title="@information.Item3" SelectedCatItemId="@selectedCatId" SelectedItemId="@selectedItemId" CssClass="p-3">

                    </InformationListItem>
                    @if (selectedCatId.HasValue && information.Item1 == selectedCatId)
                    {
                        @foreach (Tuple<int, int?, String> informationItem in GetDetailMenuItemList(selectedCatId.Value))
                        {
                            <InformationListItem OnClick="() => SetNewsDetailId(informationItem.Item1, informationItem.Item2)" Id="@informationItem.Item1" ParentId="@informationItem.Item2" Title="@informationItem.Item3" SelectedCatItemId="@selectedCatId" SelectedItemId="@selectedItemId" CssClass="p-2">

                            </InformationListItem>
                        }
                    }
                }
            </div>
        </BSCol>
        <!-- News Detail Col -->
        <BSCol id="newsDetailCol" Class="col-12 col-lg-6 col-xl-6 p-5">
            @if (selectedItemId.HasValue)
            {
                NewsDetail newsDetail = newsDetailList.Find(x => x.id == selectedItemId.Value);
                <BSRow id="newsHeader" Class="m-3">
                    <span>@newsDetail.title</span>
                </BSRow>
                <BSRow id="newsSubHeader" Class="mb-4">
                    <span>@newsDetail.subTitle</span>
                </BSRow>
                <BSRow id="newsContent">
                    <span>@newsDetail.description</span>
                </BSRow>
            }
        </BSCol>
    </BSRow>
</section>

<style>
    #pilotLicenceInformationSection {
    }

    .bg-none {
        background-color: transparent !important;
    }

    .currentPage {
        text-decoration: underline !important;
    }

    #newsListCol .newsListItem {
        background-color: #F6F6F6;
        color: #2E4161;
    }

    #newsListCol .selectedItem {
        background-color: #2E4161;
        color: #F4F4F4;
        font-weight: bold;
    }

    #newsDetailCol {
        background-color: #FFFFFF;
    }

        #newsDetailCol #newsHeader {
            color: #2E4161;
            text-align: center;
            font-weight: bold;
            font-size: x-large;
        }

        #newsDetailCol #newsSubHeader {
            color: #7C7C7C;
            font-weight: bold;
            font-size: medium;
        }

        #newsDetailCol #newsContent {
            color: #7C7C7C;
            font-weight: bold;
            font-size: medium;
        }

    #latestNewsDetailsSection #bannerImage {
        height: 45vh;
        background-image: url(/images/shutterstock_129707585.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }
</style>

@code {
    public class NewsDetail
    {
        public int id { get; set; }
        public String title { get; set; }
        public String subTitle { get; set; }
        public String description { get; set; }
    }
    private int selectedNewsId = 0;
    public List<Tuple<int, int?, String>> newsList { get; set; } = new List<Tuple<int, int?, String>>();
    public List<NewsDetail> newsDetailList { get; set; } = new List<NewsDetail>();
    private int? selectedCatId { get; set; }
    private int? selectedItemId { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        newsList.Add(new Tuple<int, int?, String>(1, null, "Aeroplanes"));
        newsList.Add(new Tuple<int, int?, String>(2, 1, "Flight Crew's Licence requirement update"));
        newsList.Add(new Tuple<int, int?, String>(3, 1, "Private Pilot's Licence requirement update"));

        newsDetailList.Add(new NewsDetail { id = 1, title = "Professional Pilot's Licence requirements update", subTitle = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nex condimentum quam. Fusce pellentesque faucibus lorem at viverra. Integer at feugiat odio. In placerat euismod risus proin.", description = "Where does it come from? Contrary to popular belief, Lorem lpsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin workds, consectetur, from a Lorem lpsum passage, and going throught the cites of the word in classical literature, discovered the undoubtable source. Lorem lpsum comes from sections 1.10.32 and 1.10.33 of \"de Finibus Bonorum et Malorum\" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem lpsum, \"Lorem ipsum dolor sit amet..\", comes from a line in section 1.10.32." });
        newsDetailList.Add(new NewsDetail { id = 2, title = "Flight Crew's Licence requirement update", subTitle = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nex condimentum quam. Fusce pellentesque faucibus lorem at viverra. Integer at feugiat odio. In placerat euismod risus proin.", description = "Where does it come from? Contrary to popular belief, Lorem lpsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin workds, consectetur, from a Lorem lpsum passage, and going throught the cites of the word in classical literature, discovered the undoubtable source. Lorem lpsum comes from sections 1.10.32 and 1.10.33 of \"de Finibus Bonorum et Malorum\" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem lpsum, \"Lorem ipsum dolor sit amet..\", comes from a line in section 1.10.32." });
        newsDetailList.Add(new NewsDetail { id = 3, title = "Private Pilot's Licence requirement update", subTitle = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nex condimentum quam. Fusce pellentesque faucibus lorem at viverra. Integer at feugiat odio. In placerat euismod risus proin.", description = "Where does it come from? Contrary to popular belief, Lorem lpsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin workds, consectetur, from a Lorem lpsum passage, and going throught the cites of the word in classical literature, discovered the undoubtable source. Lorem lpsum comes from sections 1.10.32 and 1.10.33 of \"de Finibus Bonorum et Malorum\" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem lpsum, \"Lorem ipsum dolor sit amet..\", comes from a line in section 1.10.32." });

        NavigationManagerExtensions.TryGetQueryString<int>(NavManager, "i", out selectedNewsId);
    }

    public List<Tuple<int, int?, String>> GetRootMenuList()
    {
        return newsList.FindAll(x => x.Item2 == null);
    }

    public List<Tuple<int, int?, String>> GetDetailMenuItemList(int rootItemId)
    {
        return newsList.FindAll(x => x.Item2.HasValue && x.Item2.Value == rootItemId);
    }

    private void SetNewsDetailId(int id, int? parentId)
    {
        if (!parentId.HasValue)
        {
            if (selectedCatId == id)
            {
                selectedCatId = null;
            }
            else
            {
                selectedCatId = id;
            }
        }
        else
        {
            selectedItemId = id;
        }
    }
}
