@page "/Group/List"
@if (paginator.data == null)
{
    <MatProgressBar Indeterminate="true"></MatProgressBar>
}
else
{
<h3>Group Maintenance</h3>
    <div>
        <MatTextField @bind-Value="@groupId" Label="Group ID" Class="searchinput"></MatTextField>
        <MatTextField @bind-Value="@name" Label="Group Name" Class="searchinput"></MatTextField>
        <MatButton Icon="search" Label="Search" OnClick="@(() => Search())"></MatButton>


    </div>
    <MatTable Items="@paginator.data" Class="mat-elevation-z5" Striped="true" ShowPaging="false" PageSize="@PageSize">
        <MatTableHeader>
            <th><MatButton Icon="playlist_add" Label="Create New Group" OnClick="@(() => Add())" Raised="true"></MatButton></th>
            <th>Group ID</th>
            <th class="tableth">Group Name</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>Last Updated By</th>
            <th>Last Updated Date</th>

        </MatTableHeader>
        <MatTableRow>
            <td>
                <div style="width:100%;">
                    <MatIconButton Icon="visibility" OnClick="(e=>View(context.Id))"></MatIconButton>
                    <MatIconButton Icon="edit" OnClick="(e=>Edit(context.Id))"></MatIconButton>
                    <MatIconButton Icon="delete" OnClick="@(e=>Delete(context.Id))"></MatIconButton>
                </div>

            </td>
            <td>@context.GroupId</td>
            <td>@context.GroupDescription</td>
            <td>@context.CreatedBy</td>
            <td>@context.CreatedTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
            <td>@context.UpdatedBy</td>
            <td>@context.UpdatedTime?.ToString("yyyy-MM-dd HH:mm:ss")</td>

        </MatTableRow>
    </MatTable>
    <div>
        <MatPaginator Length="@PageCount" PageSize="@PageSize" Page="@OnPage"></MatPaginator>
    </div>
    <div>
    </div>
}
@code {

}
